<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086194423847-9na7ip01gus2ar1qou1vchp69srp471k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086194423847-9na7ip01gus2ar1qou1vchp69srp471k</string>
	<key>API_KEY</key>
	<string>AIzaSyBGG9WeljnVJwbKOJEKrBE_wQNYFHTSEto</string>
	<key>GCM_SENDER_ID</key>
	<string>1086194423847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.TheParliament</string>
	<key>PROJECT_ID</key>
	<string>political-think</string>
	<key>STORAGE_BUCKET</key>
	<string>political-think.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086194423847:ios:4207d44703d1e4cf31d602</string>
</dict>
</plist>